.ban {
	margin-left: 35%;
	margin-top: 1%;
}
input {
	height: 40px;
	width: 350px;
	margin-left: 195%;
	margin-top: 35%;
	border-radius: 2px;
	border: none;
	outline: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.inp {
	height: 35px;
	width: 60px;
	margin-left: 55.5%;
	margin-top: -38px;
	position: absolute;
	color: rgb(102, 98, 98);
	background-color: rgb(88, 200, 238);
	border-radius: 3px;
	border: none;
	outline: none;
}
