.iconpic {
	width: 50px;
	height: 50px;
	/* display: flex; */
}
.spellpic {
	width: 25px;
	height: 25px;
}
.profilepic {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
.perkpic {
	width: 20px;
	height: 20px;
}

.pageTitle {
	display: flex;
	font-family: "Times New Roman", Times, serif;
	font-size: 5em;
	margin: auto;
	text-align: center;
	margin-left: 40%;
	/* margin-top: 3%; */
}
